*{
    font-family: B-Traffic;
}
p, h1 {
    direction: rtl;
}

body {
    padding: 5% 15%;
    background-color: #e8eeee;
}


code {
    font-family: Courier, 'New Courier', monospace;
    font-size: 12px;
    line-height: 20px;
}


@font-face {
    font-family: 'B-Traffic';
    src: url('B-Traffic/BTraffic.eot');
    src: url('B-Traffic/BTraffic.eot?#iefix') format('embedded-opentype'),
    url('B-Traffic/BTraffic.woff2') format('woff2'),
    url('B-Traffic/BTraffic.woff') format('woff'),
    url('B-Traffic/BTraffic.ttf') format('truetype'),
    url('B-Traffic/BTraffic.svg#AMehdiHeydari') format('svg');
    font-weight: normal;
    font-style: normal;
}
