*{
    font-family: "IranSans", sans-serif;
}
p, h1 , h2 {
    direction: rtl;
}

h1 , h2{
    color: #333;
    padding: 5px;
    border-top: solid 1px darkgray;
}

body {
    padding: 5% 15%;
    background-color: #f2feff;
}


code {
    font-family: Courier, 'New Courier', monospace;
    font-size: 12px;
    line-height: 20px;
}

