*{
    font-family: "IranSans", sans-serif;
}
p, h1 {
    direction: rtl;
}

body {
    padding: 5% 15%;
    background-color: #e8eeee;
}


code {
    font-family: Courier, 'New Courier', monospace;
    font-size: 12px;
    line-height: 20px;
}

